# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/
*SI_TA_LIN*
*.class
classOut*
compileRun.bat
sources.txt
#ignore vim backupfiles
*~

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
